/** Add css rules here for your application. */



/************************* 
        GENERAL TEXT         
*************************/

h1 {
  margin-top: 8px 0px 2px 0px;
  font-size: 45px;
  font-weight: bold;
  color: #777777;
}


/************************* 
        MAIN ELEMENTS         
*************************/

body {}

div#main {
    margin-left: auto;
    margin-right: auto;
	width: 800px;
	overflow: hidden;
}

#header h1 {
	float: left;
    clear: bottom;
}

#logo {
    width: 55px;
    align: top;
}


#indexDetail {
	clear: both;
}
/************************* 
        SEARCH FIELD         
*************************/

#searchFieldContainer {
	width: 750px;
}

.searchField {
    float: left;
    width: 710px;
    height: 28px;
    font-size: 20px;
    color: grey;
    padding: 4px;
    border: 1px solid grey;
}

#searchButtonContainer {
    float: left;
    margin-left: 10px;
}

.searchButton {
  font-size: 20px;
  height: 38px;
}


#errorLabelContainer {
	width: 750px;
	height: 15px;
	padding-top: 5px;
	margin-bottom: 5px;
	clear: both;
	color: red;
	font-size: 12px;
}


/************************* 
   PROCESSING META DATA
*************************/


div#indexDetail {
    height: 12px;
	font-size: 12px;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 5px;
    color: grey;
}

div#queryStringContainer {
    font-size: 12px;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 5px;
    color: grey;
}


div#resultsDetail {
    height: 12px;
    font-size: 12px;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 5px; 
    color: grey;
}


/************************* 
        RESULTS         
*************************/


div#resultsContainer {
	width: 800px;
	margin-top: 15px;
}

div#resultsContainer table {
	width: 800px;
}


div.result {
	clear:both;
	overflow:hidden;
	padding: 5px 0px 5px 0px;
	height: 50px;
	-moz-border-radius: 6px;
    border-radius: 6px;
    /*background-color: #8FC8D8;
    border: 1px solid #057D9F;*/
    margin-bottom: 5px;
}

div.result:hover {
   background-color: #39AECF;
   color: white;
}


div.id {
	float:left;
	/*background-color: grey;*/
	width: 90px;
	font-size: 12px;
	font-weight: bold;
    padding: 0px 0px 5px 15px;
    /*margin-right: 30px;*/
}

div.snippet {
	float: left;
	width: 690px;
	font-size: 14px;
	color:black;
	padding: 0px 0px 0px 5px;
}

div.editDistance {
    float:left;
    /*background-color: grey;*/
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    /*margin-right: 30px;*/
}

div.candidate {
    float: left;
    padding: 0px 0px 5px 5px;
    width: 600px;
    font-size: 14px;
    color:black;    
}

/************************* 
      UPLOAD CONTAINER        
*************************/

#uploadContainer {
    float: right;
    padding: 20px 12px 0px 0px;
}

#uploadContainer img{
    height: 40px;
    width: 40px;
}


div.uploadPopupPanel {
    background-color: white;
    border: 1px solid grey;
    -moz-border-radius: 6px;
    border-radius: 6px;
    top: 120px;
    left: 120px;
    padding: 5px;
}

div uploadPopupPanel button {
	margin: 0px;
}

div.uploadPopupPanel form {
	padding: 30px;
}

input.gwt-FileUpload {
	margin: 0px 0px 8px 0px;
}

/************************* 
       ORIGINAL TEXT         
*************************/

div.gwt-PopupPanelGlass {
	padding: 50px;
}


div.popupPanel {
    background-color: white;
    border: 1px solid grey;
    -moz-border-radius: 6px;
    border-radius: 6px;
    top: 120px;
    left: 120px;
}

div.table {
	padding: 10px;
}

span.id {
    width: 60px;
    font-size: 14px;
    font-weight: bold;
}

div.popup-scrollPanel {
	margin-top: 50px;
    font-size: 16px;
    padding: 20px;
}

div.popup-buttonHolder {
	
}

button.popup-button {
	margin: 5px;
}


/************************* 
        PAGINATOR         
*************************/

div#paginatorContainer {
    /*display: none;*/
    margin-top: 40px;
    float:left;
    width: 800px;
    overflow: hidden;
}


div#previousButton {
	float: left;
	width: 80px;
}

div#paginatorLabel {
    font-size: 16px;
    float: left;
    margin-left: 250px;
    margin-top: 5px;
}

div#nextButton {
	float: right;
	margin: 0px 12px 0px 0px;
}


/************************* 
       ARTIFACTS       
*************************/

#line {
    margin-top: 5px;
    float: left;
    border-top: 1px solid grey;
    width: 800px; 
}


/************************* 
        ERROR         
*************************/

.serverResponseLabelError {
  color: red;
}

.invalid {
	background-color: #FFCCCC;
}

/*************************
        BUTTONS
*************************/
button.gwt-Button {
    cursor:pointer; 
    /*width:70px; 
    height: 31px;*/ 
    color: #FFF;  
    background: no-repeat grey center; 
    border: 1px solid grey;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
}

button.gwt-Button[disabled], button.gwt-Button[disabled]:hover {
    color: #FFF;
    background: no-repeat grey center; 
    border: 1px solid grey;
}


/* Style the search button hover state */
button.gwt-Button:hover {
    background: no-repeat center #39AECF; 
    border: 1px solid #39AECF;
}
